<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: headInfo('EOE-Danh sách khóa học', ~{:: .custom-css})}">
    <link class="custom-css" rel="stylesheet" href="/css/user/courseList.css"/>
    <script class="custom-css" src="/js/loadCourseList.js"></script>
</head>
<body>
    <div th:replace="~{fragments :: navbar('course')}"></div>

    <main>
        <section class="hero-banner"></section>

        <section class="filter-controls">
            <nav class="category-nav">
                <ul>
                    <li><a href="#" class="active-category">Tất cả khóa học</a></li>
                    <li><a href="#">Khóa học IELTS</a></li>
                    <li><a href="#">Khóa học TOEIC</a></li>
                    <li><a href="#">Khóa học cho trẻ em</a></li>
                    <li><a href="#">Khác</a></li>
                    </ul>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Nhập nội dung tìm kiếm">
                <button class="search-btn"><i class="fas fa-search"></i></button>
                <select name="filter1">
                    <option value="all">Tất cả</option>
                </select>
                <select name="filter2">
                    <option value="all">Tất cả</option>
                </select>
                <button class="primary-btn">Chọn nơi quan tâm</button>
            </div>
        </section>

        <section class="course-grid" id="course-grid-container">
        </section>

        <div id="pagination-container" class="pagination-container">  
        </div>
        
    </main>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>