<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: headInfo('EOE-Danh sách khóa học', ~{:: .custom-css})}">
    <link class="custom-css" rel="stylesheet" href="/css/user/courseList.css"/>
    <script class="custom-css" src="/js/loadCourseList.js"></script>
</head>
<body>
    <div th:replace="~{fragments :: navbar('course')}"></div>

    <main>
        <section class="hero-banner"></section>

        <section class="filter-controls">
            <nav class="category-nav">
                <ul id="category-list">
                    <li><a href="#" data-category="" class="active-category">Tất cả khóa học</a></li>
                    <li><a href="#" data-category="IELTS">Khóa học IELTS</a></li>
                    <li><a href="#" data-category="TOEIC">Khóa học TOEIC</a></li>
                    <li><a href="#" data-category="KIDS">Khóa học cho trẻ em</a></li>
                    <li><a href="#" data-category="OTHER">Khác</a></li>
                </ul>
            </nav>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Nhập nội dung tìm kiếm">
                
                <button id="search-btn" class="search-btn btn"><i class="fas fa-search"></i></button>
                
                <select id="mode-select">
                    <option value="">Tất cả hình thức</option>
                    <option value="ONLINE">Trực tuyến (Online)</option>
                    <option value="OFFLINE">Tại trung tâm (Offline)</option>
                </select>
                
                <select id="sort-select">
                    <option value="newest">Mới nhất</option>
                    <option value="price_asc">Giá: Thấp đến cao</option>
                    <option value="price_desc">Giá: Cao đến thấp</option>
                </select>
            
            </div>
        </section>

        <section class="course-grid" id="course-grid-container">
        </section>

        <div id="pagination-container" class="pagination-container">  
        </div>
        
    </main>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>