<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: headInfo('Học tập', ~{:: .custom-css})}">
    <link class="custom-css" rel="stylesheet" href="/css/user/my-course.css"/>
    <script src="/js/loadMyCourse.js"></script>
</head>
<body>
    <div th:replace="~{fragments :: navbar('mycourse')}"></div>

    <section class="filter-controls">
        <nav class="category-nav">
            <ul>
                <li><a href="#" id="tab-active" class="active-category">Khóa học của tôi</a></li>
                
                <li><a href="#" id="tab-expired">Khóa học đã hết hạn</a></li>
            </ul>
        </nav>
    </section>

    <section class="course-grid" id="course-grid-container">
    </section>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>